ios/Paddle/LIB/lib/libpaddle_api_full_bundled.a filter=lfs diff=lfs merge=lfs -text
ios/Paddle/LIB/lib/libpaddle-mobile.a filter=lfs diff=lfs merge=lfs -text
ios/Paddle/LIB/lib/opencv2.framework/opencv2 filter=lfs diff=lfs merge=lfs -text
